*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(0,0,0,0.5);
}

.container{
    display: flex;
    justify-content: center;
    text-align: center;
}

.refrBtn{
    border-radius: 12px;
    margin: 0px 0px 0px 30px;
    background-color: black;
    color: white;
    width: 40px;
    height: 40px;
}

.row{
    background-color: yellow;
    height: 300px;
    width: 80%;
    text-align: center ;
    font-weight: bold;
    border: 2px solid rgb(2, 20, 17);
    margin-bottom: 60px;
    padding-top: 20px ;
    box-shadow: 14px 14px 16px black;
    overflow-y: auto;
    background-image: url(Assets/verlaufGelb.png);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(30px);
}

.row:hover{
    cursor: pointer;
}

.row0{
    height: 140px;
    width: 100%;
    background: rgba(22, 22, 22, 0.685);
    color: yellow;
    box-shadow: 0px 0px 0px transparent;

}

.aktionsButton{
    width: 130px;
    height: 35px;
    background-color: rgb(36, 97, 187);
    color: white;
    margin: 10px 30px 10px 20px;
    border-radius: 12px;
    text-align: center;
    font-weight: bold;
}

.row2{

    height: 250px;
    width: 80%;
    background-color: aqua;
    border: 1px solid black;
    box-shadow: 1px 1px 10px black;
    background-image: url(Assets/verlaufBlau.png);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(30px);
    border-radius: 12px;
    color: white;
}

.row2:hover{
    cursor: default;
}

.row3{
    background: cadetblue;
    height: 600px;
    justify-content: center;

}

.row4{
    background: rgba(0, 0, 0, 0);
    height: 70px;
    text-align: center;
    border-radius: 14px;
    justify-content: center;
    box-shadow: 0px 0px 0px transparent;
    border: 0px ;
}

.row4:hover{
    
    cursor: default;
}

.btnOben{
    width: 80%;
    height: 50px;
    background: rgb(0,0,0,0.5);
    border-radius: 14px;
    color: white;
    font-weight: bold;
    font-size: 24px;
}



.rowNxt{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}



.button1{
    border-radius: 12px;
    width: 70px;
    height: 40px;
    font-weight: bold;
    border: 1px solid black;
    box-shadow: 3px 3px 10px black;
    color: white;
}



.btnJ{
    background-color: green;
    margin-right: 20px;
}

.btnN{
    background-color: red;
    margin-left: 20px;
}

.formContent{

    margin: 5px 0px 0px 30px;
    font-weight: bold;
}


.submButton{
    color: white;
    background-color: rgb(97, 146, 0);
    font-size: 18px;
    width: 150px;
}

.textfeldBegriff{
    border: 2px solid black;
    width: 95%;
    border-radius: 12px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.textfeldRuek{
    border: 2px solid black;
    width: 95%;
    height: 150px;
    margin-top: 5px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 18px;
}

footer{
    margin-left: 30px;
}

.filterBox{
 justify-content: center;
 height: 150px; 
 border-radius: 12px;
 background: rgba(22, 22, 22, 0.685);
 color: white;
 box-shadow: 1px 1px 10px black;
 width: 70%;
}

.filter-liste{
    background-color: cadetblue;
    margin-right: 10px;
    font-weight: bold;
    color: white;
    border-radius: 12px;
    width: 100%;
}

#filterAnzahl{
    font-weight: bold;

}

