*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(0,0,0,0.5);
}

.container{
    display: flex;
    justify-content: center;
    text-align: center;
}



.row{
    background-color: yellow;
    height: 300px;
    width: 80%;
    text-align: center ;
    font-weight: bold;
    border: 2px solid rgb(2, 20, 17);
    margin-bottom: 60px;
    padding-top: 20px ;
    box-shadow: 9px 9px 16px black;
    overflow-y: auto;
    background-image: url(Assets/verlaufGelb.png);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(30px);
}

.row:hover{
    cursor: pointer;
}

.row0{
    height: 130px;
}

.row2{

    height: 200px;
    width: 80%;
    background-color: aqua;
    border: 1px solid black;
    box-shadow: 1px 1px 10px black;
    background-image: url(Assets/verlaufBlau.png);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(30px);
    border-radius: 12px;
    color: white;
}

.row2:hover{
    cursor: default;
}

.row3{
    background: cadetblue;
    height: 500px;
    justify-content: center;
}

.row4{
    background: rgba(0, 0, 0, 0);
    height: 70px;
    text-align: center;
    border-radius: 14px;
    justify-content: center;
    box-shadow: 0px 0px 0px transparent;
    border: 0px ;
}

.row4:hover{
    
    cursor: default;
}

.btnOben{
    width: 80%;
    height: 50px;
    background: rgb(0,0,0,0.5);
    border-radius: 14px;
    color: white;
    font-weight: bold;
    font-size: 24px;
}



.rowNxt{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.aktionsButton{
    width: 80px;
    height: 25px;
    background-color: rgb(16, 69, 150);
    color: white;
    margin: 10px 30px 10px 20px;
    border-radius: 12px;
    text-align: center;
}

.button1{
    border-radius: 12px;
    width: 70px;
    height: 40px;
    font-weight: bold;
    border: 1px solid black;
    box-shadow: 3px 3px 10px black;
    color: white;
}



#btn_Gewusst{
    background-color: green;
    margin-right: 20px;
}

#btn_NichtGewusst{
    background-color: red;
    margin-left: 20px;
}

.formContent{

    margin: 5px 0px 0px 30px;
    font-weight: bold;
}


.submButton{
    color: white;
    background-color: rgb(97, 146, 0);
    font-size: 12px;
    width: 80px;
}